body {
    background-color: azure;
}

.nav-container {
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightcoral;
}

.dropdown-container{
    float: right;
    position: relative;
    bottom: 70px;
    width: 120px;
}

.dropdown-container > button {
    width: 100px;
    height: 30px;
    background-color: skyblue;
    text-transform: uppercase;
}

.dropdown-container > button:hover {
    cursor: pointer;
}

.dropdown-options{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding-bottom: 10px;
    width: 100px;
    height: 100px;
    background-color: lightskyblue;
}

.dropdown-options > button{
    margin-top: 9px;
    width: 70px;
    text-align: center;
    background-color: aquamarine;
    font-weight: bold;
}

.dropdown-options > button:hover{
    cursor: pointer;
}

.bg-color-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 40.1%;
    top: 15%;
    transform: translate(-10%, -30%);
    gap: 10px;
    font-size: xx-large;
}

.inner-container > input {
    width: 275px;
    font-size: medium;
    background-color: bisque;
}

.inner-container > input::placeholder {
    color: black;
}

.inner-container > button {
    width: 120px;
    font-size: medium;
    background-color: bisque;
}

.fg-color-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
    font-size:xx-large;
    background-color: aqua;
    border: 1px solid black;
    height: 500px;
    width: 900px;
}

.inner-container > input {
    width: 275px;
    font-size: medium;
    background-color: bisque;
}

.inner-container > button {
    margin-left: 10px;
    width: 120px;
    font-size: medium;
    background-color: lightsalmon;
}

.bg-color-palette {
    display: none;
    gap: 10px;
    font-size: 80%;
}

.bg-color-palette > input {
    margin-top: 4px;
    width: 120px;
}

.fg-color-palette {
    display: none;
    gap: 10px;
    font-size: 80%;
}

.fg-color-palette > input {
    margin-top: 4px;
    width: 120px;
}

